<table border="2" cellpadding="10">
    <tr>
      <th>SN</th>
      <th>Address & Geo</th>
      <th>N</th>
      <th>S</th>
      <th>Geo Address</th>
      <th>Distance from ABTI</th>
    </tr>
    <tr>
        <td>1</td>
        <td>STATE SPECIALIST HOSPITAL YOLA, YOLA NORTH L. G. A.
            <br>N 90 16’ 34”E 120 26’ 51”
            </td>
        <td>9.276111111111112</td>
        <td>12.4475</td>
        <td>64, Yola North, Adamawa, Nigeria</td>
        <td>18 mins</td>
    </tr>
    <tr>
        <td>2</td>
        <td>FEDERAL MEDICAL CENTER YOLA, YOLA SOUTH L. G. A.
                <br>N 90 19’ 59” E 120 49’ 13”
                </td>
        <td>9.333055555555555</td>
        <td>12.820277777777777</td>
        <td>64, Fufore, Adamawa, Nigeria</td>
        <td>2 mins</td>
    </tr>
    <tr>
        <td>3</td>
        <td>BAKARI MBAMOI HEALTH CENTRE, YOLA SOUTH L. G. A.
                <br>N 90 12’ 11” E 120 28’ 40’’
                </td>
        <td>9.203055555555554</td>
        <td>12.477777777777778</td>
        <td>64, Yola South, Adamawa, Nigeria</td>
        <td>5 min??</td>
    </tr>
    <tr>
        <td>4</td>
        <td>FUFORE COTTAGE HOSPITAL, FUFORE L.G.A (Cameroun)
                <br>>N9°21’57” E12°66’34”. 
               </td>
        <td>9.365833333333333</td>
        <td>13.109444444444444</td>
        <td>Nord, Cameroon</td>
        <td>42 min</td>
    </tr>
    <tr>
        <td>5</td>
        <td>PARIYA PHC, FUFURE L.G.A.
                <br>>N9°22’47.1” E12°42’01.0”
                </td>
        <td>9.37975</td>
        <td>12.700277777777776</td>
        <td>64, Fufore, Adamawa, Nigeria</td>
        <td>50 min ??</td>
    </tr>
    <tr>
        <td>6</td>
        <td>GIREI B PHC, GIREI L. G. A.
                <br>N9°22’0.58” E12°33’0.9”
                </td>
        <td>9.366827777777779</td>
        <td>12.55025</td>
        <td>65, Girie, Adamawa, Nigeria</td>
        <td>40 mins</td>
    </tr>
    <tr>
        <td>7</td>
        <td>SANGERE M C H, GEREI L.G.A.
                GPRS COORDINATES N9°34’39” E12°51’14”
                </td>
        <td>9.5775</td>
        <td>12.85388888888889</td>
        <td>64, Fufore, Adamawa, Nigeria</td>
        <td>40 mins</td>
    </tr>
    <tr>
        <td>8</td>
        <td>VUNOKLANG PHC, GIREI L.G.A.
                <br>N9°30’28” E12°48’23”
                </td>
        <td>9.507777777777777</td>
        <td>12.80638888888889</td>
        <td>64, Fufore, Adamawa, Nigeria</td>
        <td>40 mins</td>
    </tr>
    <tr>
        <td>9</td>
        <td>JAMBUTU PHC, YOLA NORTH L.G.A.<br>
                N9°16’59” E12°25’49”</td>
        <td>9.283055555555556</td>
        <td>12.430277777777777</td>
        <td>64, Yola North, Adamawa, Nigeria</td>
        <td>23 mins</td>
    </tr>
    <tr>
        <td>10</td>
        <td>MALAMRE CLINIC, YOLA NORTH L.G.A.
                <br>N9°09’23” E12°27’07”
                </td>
        <td>9.15638888888889</td>
        <td>12.451944444444443</td>
        <td>64, Yola South, Adamawa, Nigeria</td>
        <td>??</td>
    </tr>
</table>

<a href="https://gps-coordinates.org/" target=_blank>https://gps-coordinates.org/</a>