<label>Server Name </label>
<input 
type="text"
class="form-control"
[(ngModel)]="serverName">

<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p>{{ serverName }}</p>
<div *ngIf="serverName; else noServer">
    <button class="btn btn-primary" 
    [disabled] = "!allowNewServer"
    (click)="onClearField()">Clear Field</button><br>
</div>
<ng-template #noServer>
    <button class="btn btn-primary" 
    disabled = "true"
    (click)="onClearField">Clear Field</button><br>
</ng-template>
<p [ngStyle]="{backgroundColor : getColor()}">{{ serverCreationStatus }}  {{serverStatus}}<br></p>
<p>{{ serverCreationStatus }}  {{serverStatus}}<br></p>
<app-server *ngFor="let server of servers"></app-server>
<app-server></app-server>